<form method="post" action="{{ path('app_frais_forfait_delete', {'id': frais_forfait.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ frais_forfait.id) }}">
    <button class="btn">Delete</button>
</form>
