<form method="post" action="{{ path('app_ligne_frais_hors_forfait_delete', {'id': ligne_frais_hors_forfait.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne_frais_hors_forfait.id) }}">
    <button class="btn">Delete</button>
</form>
