{% extends 'base.html.twig' %}

{% block title %}Edit LigneFraisHorsForfait{% endblock %}

{% block body %}
    <h1>Edit LigneFraisHorsForfait</h1>

    {{ include('ligne_frais_hors_forfait/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ligne_frais_hors_forfait_index') }}">back to list</a>

    {{ include('ligne_frais_hors_forfait/_delete_form.html.twig') }}
{% endblock %}
