<form method="post" action="{{ path('app_fiche_frais_delete', {'id': fiche_frai.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche_frai.id) }}">
    <button class="btn">Delete</button>
</form>
