{% extends 'base.html.twig' %}

{% block title %}New FicheFrais{% endblock %}

{% block body %}
    <h1>Create new FicheFrais</h1>

    {{ include('fiche_frais/_form.html.twig') }}

    <a href="{{ path('app_fiche_frais_index') }}">back to list</a>
{% endblock %}
