{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<nav class="navbar shadow-1 grey dark-4">
  <a href="#" class="navbar-brand">Axentix</a>

  <!-- Dark menu background hover variant -->
  <div class="navbar-menu ml-auto hover-bg-dark">
    <a class="navbar-link active" href="#">Link</a>
    <a class="navbar-link" href="#">Link</a>
    <a class="navbar-link" href="#">Link</a>
  </div>
</nav>
{% endblock %}
