{% extends 'base.html.twig' %}

{% block title %}Edit Visiteur{% endblock %}

{% block body %}
    <h1>Edit Visiteur</h1>

    {{ include('visiteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_visiteur_index') }}">back to list</a>

    {{ include('visiteur/_delete_form.html.twig') }}
{% endblock %}
