{% extends 'base.html.twig' %}

{% block title %}New LigneFraisForfait{% endblock %}

{% block body %}
    <h1>Create new LigneFraisForfait</h1>

    {{ include('ligne_frais_forfait/_form.html.twig') }}

    <a href="{{ path('app_ligne_frais_forfait_index') }}">back to list</a>
{% endblock %}
